@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

*{
    font-family: "Mona Safont-family: "Mona Sans", sans-serif;ns", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 8vw;
    height: 3vw;
    position: relative;
    top: 30%;
}

.redes_sociales img{
    width: 2vw;
    height: 2vw;
}

video{
    width: 90%;
    height: 90%;
    
}

.fondo_grupo_2{
    background: #e6dada;
    background: linear-gradient(174deg, rgba(230, 218, 218, 1) 0%, rgba(20, 23, 20, 0.88) 50%);
}
